    <nav class="colorgy-nav nav-fixed">
        <div class="nav-wrapper">
          <a href="" class="brand-logo"><%= image_tag('TASKS.png') %></a>
          <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">dehaze</i></a>
          <ul class="right hide-on-med-and-down main-nav">
            <li class="group-up">
              <a href="#tasks-anchor" class="tooltipped" data-position="bottom" data-delay="0" data-tooltip="8 月開始服務，點擊看介紹！">
                關於 Tasks
              </a>
            </li>
            <li>
              <a href="#keep-mention">
                保持關注
              </a>
            </li>
            <li>
              <a href="https://colorgy.io" target="_blank">
                其他 Colorgy 服務
              </a>
            </li>
            <li class="register-login-btn">
              <a href="https://colorgy.io/login">
                註冊 / 登入
              </a>
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="group-up">
              <a href="#books-anchor">
                關於 Tasks
              </a>
            </li>
            <li>
              <a href="#keep-mention">
                保持關注
              </a>
            </li>
            <li>
              <a href="https://colorgy.io" target="_blank">
                其他 Colorgy 服務
              </a>
            </li>
            <li><a href="#">登入</a></li>
          </ul>
          <div class="clear" style="clear:both;"></div>
        </div>
    </nav>
    <div class="login-mobile-btn">
      <a href="https://colorgy.io/login">
        馬上登入
      </a>
    </div>
<script>
  $(".button-collapse").sideNav();
  $('#personal-menu').click(function(){
    $('.personal-menu-collapse').slideToggle(500);
    if($('.personal-menu-trigger').html() == 'keyboard_arrow_down'){
      $('.personal-menu-trigger').html('keyboard_arrow_up');
    }
    else{
      $('.personal-menu-trigger').html('keyboard_arrow_down');
    }
  })
</script>
